/* @VARIABLES */
/* ********** */

//Colores
$colorBase: #f2f5fa;
$colorBorderFB: #5396D6;
$colorNegroTipo: #242730;
$colorGrisTipo: #A0A3AA;
$colorGrisOscuroTipo: #5C5E64;
$colorVerdeTipo: #82b2ac;
$colorRojoTipo: #c29eaa;
$colorCard: #b4b5bb;



